asgiref==3.3.1
Django==3.1.4
django-debug-toolbar==3.2
django-dotenv==1.4.2
flake8==3.8.4
mccabe==0.6.1
Pillow==8.0.1
psycopg2==2.8.6
pycodestyle==2.6.0
pyflakes==2.2.0
PyJWT==2.0.0
python-dotenv==0.15.0
python-memcached==1.59
pytz==2020.5
reportlab==3.5.59
six==1.15.0
sorl-thumbnail==12.7.0
sqlparse==0.4.1
gunicorn