<div class="form__field-item-ingredient" id="ing_{{ forloop.counter }}">
    <span> {{ ing.title }} {{ ing.amount }}{{ ing.units }}</span>
    <span class="form__field-item-delete"></span>
    <input id="nameIngredient_{{ forloop.counter }}" name="nameIngredient_{{ forloop.counter }}" type="hidden"
        value="{{ ing.title }}">
    <input id="valueIngredient_{{ forloop.counter }}" name="valueIngredient_{{ forloop.counter }}" type="hidden"
        value="{{ ing.amount }}">
    <input id="unitsIngredient_{{ forloop.counter }}" name="unitsIngredient_{{ forloop.counter }}" type="hidden"
        value="{{ ing.units }}">
</div>