<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.ico' %}" />
    <title>{% block title %}{% endblock %}</title>
  
   
    {% block stylesheet %}
    {% endblock %}
</head>

<body class="body">
{% csrf_token %}

  <header class="header">
        {% block header %}
        {% endblock %}
  </header>
    
    <main class="main container">
    {% block content %}{% endblock %}
    </main>
    
    {% block footer %}
        <footer class="footer">
            {% include 'includes/footer.html' %}
        </footer>
    {% endblock %}

    {% block scripts %}{% endblock %}
</body>
</html>