{% extends 'base.html' %}
{% load static %}
{% block title %}Список покупок{% endblock %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'pages/shopList.css' %}">
{% endblock %}

{% block header%}
{% include 'includes/header.html' with menu='shopping_list' %}
{% endblock %}

{% block content %}
<div class="main__header">
    <h1 class="main__title">Список покупок</h1>
</div>

<div class="card-list card-list_column">
    <ul class="shopping-list">
        {% for recipe in shopping_list %}
        {% include 'includes/shoppingListItem.html' %}
        {% endfor %}
    </ul>

    <a href="{% url 'shopping_list_download' %}"><button class="button button_style_blue">Скачать список</button></a>
</div>
{% endblock %}

{% block scripts %}
<script src="{% static 'js/config/config.js' %}"></script>
<script src="{% static 'js/components/Header.js' %}"></script>
<script src="{% static 'js/components/ShopList.js' %}"></script>
<script src="{% static 'js/api/Api.js' %}"></script>
<script src="{% static 'shopList.js' %}"></script>
{% endblock %}